<div class="bg-extended">
    <div class="align-vertical-center">

        <div class="container">

            <div class="row">

                <div class="well col-sm-offset-3 col-sm-6 col-sm-offset-3 col-xs-8">

                    <div class="well-heading well-primary">
                        <h1>Update Password</h1>
                    </div>

                    <form class="well-body">
                        <div class="form-group label-floating">
                            <label class="control-label" for="newpassword">New Password</label>
                            <input id="newpassword" type="password" class="form-control" ng-model="newpassword"
                                   required="required"/>
                        </div>

                        <div class="form-group label-floating" ng-class="{'has-error is-focused' : passwordError}">
                            <label class="control-label" for="confirmpassword">Confirm Password</label>
                            <input id="confirmpassword" type="password" class="form-control" ng-model="confirmpassword"
                                   required="required"/>
                            <span ng-show="passwordError" class="help-block">
                                Please check your password and try again.
                            </span>
                        </div>

                        <br/>

                        <div class="col-sm-offset-3 col-sm-6">
                            <button class="btn btn-lg btn-primary btn-block" ng-click="updatepassword()">
                                Update Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
